
/*= Contato =================== */

/** Contato >> Ast custom button **/
#ast-desktop-header .ast-custom-button {
	color: rgb(255, 255, 255) !important;
	padding-top: 13px !important;
	padding-bottom: 13px !important;
}

/** Contato >> Uagb ifb content **/
#post-22 .uagb-ifb-content {
	width: 80% !important;
	margin-left: 10% !important;
}
.tittle-form {
	margin-left: -10% !important;
	margin-bottom: -5% !important;
}

/** Contato >> Ast scroll top **/
#ast-scroll-top {
	color: rgb(255, 255, 255) !important;
	background: #F47521 !important;
}


/*( < 480 )*/
@media (max-width: 479.98px) {
	/** Contato >> Custom logo **/
	#ast-mobile-header .custom-logo {
	width: 70px !important;
}

	/** Contato >> Uagb ifb content **/
	#post-22 .uagb-ifb-content {
	width: 100% !important;
	margin-left: 0 !important;
}

}


/*( <375 )*/
@media (max-width: 374.98px) {
	/** Contato >> Uagb ifb content **/
	#post-22 .uagb-ifb-content {
	width: 100% !important;
	margin-left: 0 !important;
}

}

